<h2>Enter Marks for 5 Subjects</h2>
<form method="POST" action="/result">
    <label>Java:</label>
    <input type="number" name="java" required><br><br>

    <label>Python:</label>
    <input type="number" name="python" required><br><br>

    <label>Cloud:</label>
    <input type="number" name="cloud" required><br><br>

    <label>DBMS:</label>
    <input type="number" name="dbms" required><br><br>

    <label>ML:</label>
    <input type="number" name="ml" required><br><br>

    <button type="submit">Submit</button>
</form>
